html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* ------- */
/* General */
/* ------- */

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 3%;
}

.medium-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}
.small-heading {
    font-size: 1.5rem;
}

.colored-section {
    background-color: #ff4c68;
    color: #ffffff;
}

.white-section {
    background-color: #ffffff;
}

/* ------------- */
/* Title Section */
/* ------------- */

#title .container-fluid {
    padding-top: 3%;
    text-align: left;
}

.title-img {
    width: 60%;
    left: 20%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 1;
}

/* ---------------- */
/* Features Section */
/* ---------------- */

#features {
    z-index: 2;
    position: relative;
}

.feature-box {
    padding: 3%;
    margin: 5% 0 0 0;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}


/* -------------------- */
/* Testimonials Section */
/* -------------------- */

#testimonials {
    background-color: #ef8172;
}

.testimonials-img {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

/* ------------- */
/* Press Section */
/* --------------*/

#press {
    background-color: #ef8172;
    padding-bottom: 5%;
}

#press img {
    width: 15%;
    margin: 20px 20px;
}

/* --------------- */
/* Pricing Section */
/* ----------------*/

#pricing {
    margin: 7% 0;
}

/* ----------------------- */
/* Call to Action Sections */
/* ----------------------- */


/* --------------- */
/* Footer Sections */
/* --------------- */

#footer {
    padding: 5%;
}

#footer a {
    color: #8f8f8f;
    margin: 3%;
}

#footer a:hover {
    color: #ff4c68;
}

/* -------------------- */
/* BootStrap Components */
/* -------------------- */

.container-fluid {
    padding: 7% 15%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    padding: 0 18px;
    font-size: 1.2rem;
}

.carousel-item {
    padding: 0% 15%;
}

/* ---------- */
/* Responsive */
/* ---------- */

@media only screen and (max-width: 1028px){
    /* For tablets: */
    .big-heading {font-size: 2.25rem;}    
    #title .container-fluid {text-align: center;}
    .title-img {position: static; transform: rotate(0); margin-top: 50px;}
    #testimonials .medium-heading {font-size: 1.5rem;}
    #cta .small-heading {font-size: 2rem;}
    .container-fluid {padding: auto;}
}

@media only screen and (max-width: 426px){
    /* For smartphone: */
    .testimonials-img {width: 50%;}
    #title button {margin: 5% !important;}
    #cta button {margin: 5% !important;}
}
